@import "~@fontsource/montserrat/500.css";
@import "~@fontsource/montserrat/100-italic.css";

.header-container {
  text-align: center;
  padding: 20px;
}
.header-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 36px;
}
.header-description {
  font-family: 'Montserrat';
  font-style: italic;
  font-size: 18px;
}
