@import '~@fontsource/montserrat/500.css';
@import '~@fontsource/montserrat/100-italic.css';

@media only screen and (max-width: 600px) {
	.header-container {
		text-align: center;
		height: 80px;
		background-color: #afc3c0;
	}
	.header-title {
		font-family: 'Montserrat';
		font-style: normal;
		font-size: 36px;
	}
	.header-description {
		font-family: 'Montserrat';
		font-style: italic;
		font-size: 18px;
	}
	.home-logo {
		width: 150px;
		height: 80px;
		object-fit: cover;
	}
}

@media only screen and (min-width: 601px) and (max-width: 767px) {
	.header-container {
		text-align: center;
		height: 80px;
		background-color: #afc3c0;
	}
	.header-title {
		font-family: 'Montserrat';
		font-style: normal;
		font-size: 36px;
	}
	.header-description {
		font-family: 'Montserrat';
		font-style: italic;
		font-size: 18px;
	}
	.home-logo {
		width: 150px;
		height: 80px;
		object-fit: cover;
	}
}

@media only screen and (min-width: 768px) {
	.header-container {
		text-align: center;
		height: 160px;
		background-color: #afc3c0;
	}
	.header-title {
		font-family: 'Montserrat';
		font-style: normal;
		font-size: 36px;
	}
	.header-description {
		font-family: 'Montserrat';
		font-style: italic;
		font-size: 18px;
	}
	.home-logo {
		width: 300px;
		height: 160px;
		object-fit: cover;
	}
}
